<template>
  <div id="app">
    <page-header />
    <div class="mt-24"></div>

    <router-view />

    <page-footer />
  </div>
</template>

<script setup>
import PageHeader from "./components/PageHeader.vue";
import PageFooter from "./components/PageFooter.vue";
</script>

<style>
#app {}
</style>