<template>
  <header class="page-header"
          :class="{'page-header--scrolled': !onTop}"
  >
      <span class="page-header__title">
        Страница домашней выделки
      </span>

      <div class="page-header__links">
        тёмная тема
      </div>
  </header>
</template>

<script setup>
import {onBeforeUnmount, onMounted, ref} from "vue";

let onTop = ref(true)

const onScroll = () => {
  onTop.value = window.scrollY === 0
}

onMounted(() => {
  window.addEventListener("scroll", onScroll)
})

onBeforeUnmount(() => {
  window.removeEventListener("scroll", onScroll)
})
</script>

<style>
.page-header--scrolled {
  border-bottom: 1px solid black !important;
}

.page-header {
  z-index: 2;
  font-size: 16px;
  font-weight: 600;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid transparent;
  @apply flex items-center justify-between px-8 dark:bg-zinc-900 h-14
}

.page-header:not(.page-header--top) {

}

.page-header__title,
.page-header__links {
  @apply text-gray-50 dark:text-amber-50
}
</style>