<template>
  <div class="portfolio-list">
    <div class="container">
      <div class="portfolio-list__items grid grid-cols-3">
        <div
            v-for="item in portfolioList"
            class="portfolio-list__item"
        >
          <portfolio-item
              :title="item.title"
              :link="item.link"
              :source-link="item.sourceLink"
              :image="item.image"
              :description="item.description"
              :image-bg="item?.imageBg"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import PortfolioItem from "./PortfolioItem.vue";

let portfolioList = [
  {
    title: 'Daily Todo',
    link: "https://xevin.gitlab.io/daily-todo/",
    sourceLink: "https://gitlab.com/xevin/daily-todo",
    image: "daily-todo.png",
    imageBg: "white",
    description: "Календарь с ежедневным списком дел (В разработке)"
  },
  {
    title: "BMFM - BookMark FileManager",
    link: "https://chromewebstore.google.com/detail/bmfm/hplginipgmfdfmfjjhckfjabadfhmica",
    sourceLink: "",
    image: "bmfm-screen.png",
    imageBg: "#303a52",
    description: "BMFM — Плагин для управления закладками браузера в виде файлового менеджера"
  },
  {
    title: "GET Editor / Web Query Editor",
    link: "https://chromewebstore.google.com/detail/get-%D1%80%D0%B5%D0%B4%D0%B0%D0%BA%D1%82%D0%BE%D1%80/opbagjejaekplmjfkbafekoiofocohpp",
    sourceLink: "",
    image: "get-parameters-editor_b.png",
    imageBg: "white",
    description: "Плагин для редактирования GET-параметров текущего сайта"
  },
  {
    title: "Pomodoro Timer",
    link: "https://xevin.gitlab.io/pomodoro/",
    sourceLink: "https://gitlab.com/xevin/pomodoro",
    image: "pomodoro-timer-screen.png",
    imageBg: "white",
    description: "Таймер для продуктивности, по системе Pomodoro"
  },
  {
    title: "Nuxt Bookmark Items",
    link: "https://xevin.gitlab.io/vue-nuxt-bookmarks/",
    sourceLink: "https://gitlab.com/xevin/vue-nuxt-bookmarks",
    image: "nuxt-bookmark.png",
    imageBg: "#6c5599",
    description: "Пример реализации функции 'добавить в избранное' на Nuxt.js"
  },
  {
    title: "Калькулятор автокредита",
    link: "http://agrad-sprobegom.ru/credit-calculator?creditTotal=1000000&firstPay=0.1&creditPeriod=5",
    sourceLink: "",
    image: "autocredit-calc.png",
    imageBg: "white",
    description: "Калькулятор, в котором все значения меняются на лету"
  },
]
</script>

<style>
.portfolio-list__items {
  @apply grid lg:grid-cols-3 gap-8 sm:grid-cols-2 grid-cols-1
}

</style>
