<template>
  <div class="portfolio-item">
    <div class="portfolio-item__header bg-contain bg-no-repeat bg-top"
         :style="{
           'background-image': `url(img/${image})`,
            'background-color': imageBg ? `${imageBg}` : 'none',
         }"
    >
      <img class="hidden" :src="'img/' + image" alt="preview" />
    </div>

    <div class="portfolio-item__body">
      <h2 class="title">{{ title }}</h2>
      <p class="description">{{ description }}</p>
    </div>

    <div class="portfolio-item__footer">
      <a v-if="link" :href="link">Проект</a>
      <a v-if="sourceLink" :href="sourceLink">Исходники</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "PortfolioItem",
  props: {
    title: "",
    description: "",
    link: "",
    image: "",
    imageBg: "",
    sourceLink: ""
  }
}
</script>

<style>
.portfolio-item {
  background-color: #202127;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.portfolio-item .title {
  font-weight: bold;
  margin-top: 1rem;
}

.portfolio-item .title + * {
  margin-top: 1rem;
}

.portfolio-item .description {
  color: #9a9a9a;
}

.portfolio-item__header {
  overflow: hidden;
  @apply h-64
}

.portfolio-item__body {
  padding: 0 24px;
  flex-grow: 1;
}

.portfolio-item__footer {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.portfolio-item__footer a {
  text-decoration: underline;
}
</style>
