<template>
  <div class="index-page container-xl">
    <div class="container">

      <div class="index-page__greetings">
        <img class="w-20 rounded-full aspect-square" :src="'img/avatar.jpg'" alt="Мой портрет">
        <p>Привет! Меня зовут Крапивин Степан, я фронтенд разработчик на Vue.js и Svelte. В свободное время играю и разрабатываю веб-игры.</p>
      </div>

      <h2 class="title">Портфолио</h2>
    </div>

    <div class="mt-20"></div>
    <portfolio-list />
  </div>
</template>

<script setup>
import PortfolioList from "@/components/PortfolioList.vue";

const greeting = "Index page"

useHead({
  title: 'Сайт Крапивина Степана',
  meta: [
    {name: 'description', content: 'Портфолио'}
  ],
})
</script>

<style scoped>
.index-page {

}

.index-page .title {
  @apply text-5xl font-semibold mt-28
}

.index-page__greetings {
  margin-top: 130px;
  @apply text-2xl dark:text-amber-50 flex gap-10 items-end
}

.index-page__greetings p {
  @apply rounded-3xl rounded-bl-none -translate-y-10 -translate-x-14 bg-white text-black p-4 shadow-md bg-amber-50
}
</style>